.avail-head {
    background: #e8e8f4;
    padding: 0;
}

.avail-head th {
    padding: 20px 12px!important;
}

.avail-head h2 {
    margin-bottom: 0;
    color: #000;
}

.table-container td {
    color: rgb(96, 96, 96);
    font-weight: 400;
}