.navbar-links>li>a {
    font-family: "Montserrat", sans-serif;
    color: #000;
    transform: .2s;
    font-size: 14px;
}

.navbar-links>li>a:hover {
    transform: .2s;
    color: #8e91be!important;

}

.menu-link {
    transform: .2s;
    color: #000!important;
}

.menu-link:hover{
    color: #8e91be!important;
    transform: .2s;
}

.list-Contact {
    margin-bottom: 10px;
}

a.menu-contact {
    color: #000;
}

a.menu-contact:hover {
    color: #8e91be;
}